body {
  margin: 0;
  padding: 0;
  background-color: #dde9fc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  padding: 0 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  overflow: hidden;
  background-color: #326fb4;
  box-shadow: 0 4px 2px -2px gray;
}

.sticky {          /* for scroll with fixed header */
  position: fixed;
  top: 0;
  width: 100%
}

header > h1 {
  cursor: pointer;
  padding: 0 10px;
  float: left;
  color: white;
  text-align: left;
  text-decoration: none;
}

.tasks,
.categories {
  cursor: pointer;
  padding: 35px 0 25px 25px;
  font-size: large;
  font-family: "Gotham SSm A", -apple-system, sans-serif;
  color: white;
  text-align: left;
  float: left;
  text-decoration: underline;
}

.active {
  color: #81c2f7;
}

.modal-button {
  cursor: pointer;
  padding: 35px 20px 20px 30px;
  border: none;
  font-size: large;
  float: right;
  background-color: #326fb4;
  color: rgb(255, 255, 255);
  text-align: right;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(63, 63, 63, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #bcd0eb;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

label {
  display: inline-block;
  margin-bottom: 2rem;
  font-family: "Gotham SSm A", -apple-system, sans-serif;
  font-size: larger;
  color: #225b97;
}

form {
  display: block;
  margin-top: 0em;
}

.form-group {
  margin-bottom: 1em;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 2.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #245a94;
  float: right;
}

@media screen and (min-width: 500px) {
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #bcd0eb;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

.modal_close_icon {
  width: 20px;
  height: 30px;
  fill: transparent;
  stroke: #0b56b3;
  stroke-linecap: round;
  stroke-width: 4;
}

.modal-body {
  padding-top: 0.25em;
}

._hide-visual {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.todo_item {
  position: relative;
  cursor: pointer;
  list-style-type: none;
  padding: 17px 0 10px 10px;
  border-bottom: 3px solid #60a5dd;
  font-family: "Gotham SSm A", -apple-system, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.todo_item.active {
  position: relative;
  cursor: pointer;
  list-style-type: none;
  padding: 17px 0 10px 10px;
  background-color: #7cb2df;
  color: black;
  border-bottom: 3px solid #60a5dd;
  font-family: "Gotham SSm A", -apple-system, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.item {
  padding: 0 20px;
}

.container {
  background-color: #dde9fc;
}

span.todo_item {
  color: black;
  text-decoration: none;
}

hr {
  border: none;
  color: #357cb6;
  background-color: #357cb6;
  height: 1.8px; 
}